# Data Science Tools and Ecosystem

## Author 
Boussard Lucas

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives </b>
- List popular languages for Data Science
- List common libraries for Data Science
- Change hours in minutes

Some of the commonly used libraries used by Data Scientists include: Python, R and SQL.

Some of the commonly used libraries used by Data Scientists include: NumPy, Pandas, Scikit-Learn.

| **Tools**         |
|------------------------|
| Jupyter Notebook  | 
| R Studio   | 
| VS Code    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
x = 200
y = x / 60
print(y)

3.3333333333333335